.fc-time{
   display : none;
}

#orders {
	width: 100%;
}

.first {
    width:10%;
}

.second {
	width:70%;
}

.third{
	width:20%;
}

#profileData {
	margin-bottom: 0;
}

#productsDiv {
	height:200px; 
	overflow:hidden; 
	overflow-y:scroll;
}

.productTable:hover {
	cursor:pointer;
	background-color: #F9E166;
}

.productTable:active { 
    background-color: black;
}